@model FizzBuzz.Web.Models.NumberViewModel

@using PagedList.Mvc;

@{
    ViewBag.Title = "FizzBuzz ";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @foreach (var number in Model.Numbers)
        {
            if (number == "FizzBuzz")
            {
                <span class="fizz">Fizz</span><span class="buzz">Buzz</span>
            }
            else
            {
                <span class="@number.ToLower()"> @number</span>
            }
            <br />
        }
    </div>
</div>
<br />

@Html.PagedListPager(Model.Numbers, page => Url.Action("ShowNumber",
    new { value = @Model.UserNumber, page }))

<link href="~/Content/fizzbuzz.css" rel="stylesheet" />