@model FizzBuzz.Web.Models.NumberViewModel
@{
    ViewBag.Title = "Home Page";
}


<form method="POST">
    <div class="row">@ViewBag.message</div>
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            @Html.TextBoxFor(m => m.UserNumber)
            @Html.ValidationMessageFor(m => m.UserNumber)
        </div>
    </div>

    <div class="row">
        <input type="submit" class="btn btn-default" value="Show FizzBuzz List" />
    </div>

</form>